@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply md:w-10/12 mx-auto w-11/12
}

.btn-primary {
  @apply bg-gradient-to-r from-[#7E90FE] to-[#9873FF] rounded-md px-8 py-3 text-white font-semibold hover:from-[#3043be] to-[#4a12e5] rounded-md px-8 py-3
}

.primary-color {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}